# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data/
logs/
*.log
*.log.gz

# Generated resources
src/generated/

# System files
.DS_Store
Thumbs.db
desktop.ini

# Files from Forge MDK
forge*changelog.txt
